#main {
  padding: 50px 100px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #F6F9FC;
}

.percent-box p {
  background: linear-gradient(307deg, #FE5F57 50%, #474747 100%);
  background: -webkit-linear-gradient(307deg, #FE5F57 50%, #474747 100%);
  background: -moz-linear-gradient(307deg, #FE5F57 50%, #474747 100%);
  background: -o-linear-gradient(307deg, #FE5F57 50%, #474747 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-size: 36px;
  position: fixed;
  left: 5%;
  bottom: 5%;
  font-weight: bold;
}